body {
    color: #FECEAB;
    background-color: #2A363B;
    font-family: 'Nunito', sans-serif;
}

footer {
    text-align: center;
}

.btn-dark {
    background-image: linear-gradient(to bottom,#2A363B  0,#2A363B  100%);
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}

.btn-dark:hover {
    background-image: linear-gradient(to bottom,#2A363B  0,#2A363B  100%);
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}

.spacer {
    margin-top: 100px;
}

#main-middle-bar {
    color: #99B898;
    background-color: #2A363B;
    padding-top: 150px;
    font-family: 'Roboto Slab', serif;
}

#navbar-logo-text {
    color: #99B898;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    text-shadow: 0;
}