body {
    /* color: #FECEAB; */
    background-color: #2A363B;
    font-family: 'Nunito', sans-serif;
}

footer {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #FECEAB;
}

label {
    color: #FECEAB;
}

.orange {
    color: #FECEAB;
}

.title-link {
    text-decoration: none;
    color: #FECEAB;
}

.title-link:hover {
    text-decoration: none;
    color: #FECEAB;
}

.title-link:focus {
    text-decoration: none;
    color: #FECEAB;
}

.question-list {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.new-question {
    width: 100%;
    margin-bottom: 25px;
}

.enunciado {
    color: #99B898;
    background-color: #23272b;
    border-color: #FECEAB;
}

.btn-dark {
    background-image: linear-gradient(to bottom,#2A363B  0,#2A363B  100%);
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}

.btn-dark:hover {
    background-image: linear-gradient(to bottom,#2A363B  0,#2A363B  100%);
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}

.btn-secondary {
    background-color: #2A363B;
    color: #9d9d9d;
}

.btn-secondary:hover {
    background-color: #23272b;
    color: #9d9d9d;
}

.btn-secondary:focus {
    background-color: #23272b;
    color: #9d9d9d;
}

.spacer {
    margin-top: 100px;
}

.alert-full-width {
    margin: 0px;
    width: 100%;
    border-radius: 0px;
}

.modal-header {
    background-color: #2A363B;
    color: #99B898;
    border-bottom: 1px solid #99B898;
}

.modal-body {
    background-color: #2A363B;
    color: #FECEAB;
}

.modal-footer {
    background-color: #2A363B;
    color: #99B898;
    border-top: 1px solid #99B898;
}

.modal-close {
    color: #E84A5F;
}

.modal-close:hover {
    color: #E84A5F;
}

.list-group-item {
    background-color: #23272b;
    border: 1px solid #FECEAB;
}

button.list-group-item {
    color: #FECEAB;
}

button.list-group-item:hover {
    background-color: #2A363B;
    color: #FECEAB;
    border: 1px solid #FECEAB;
}

button.list-group-item:focus {
    background-color: #2A363B;
    color: #FECEAB;
    border: 1px solid #FECEAB;
}

.create-button {
    padding: 0 12px 0 12px;
}

.delete-button {
    float: right;
    margin-right: 10px;
    color: #FECEAB;
}

.delete-button:hover {
    color: #E84A5F;
}

.delete-button:focus {
    color: #E84A5F;
}

.subscribe-icon:before{
    content:"\e007"
}

.subscribe-icon:hover:before{
    content:"\e006"
}

.subscribe-button {
    float: right;
    margin-right: 10px;
    color: #FECEAB;
}

.subscribe-button:hover {
    color: #FECEAB;
}

.subscribe-button:focus {
    color: #FECEAB;
}

.unsubscribe-icon:before {
    content:"\e006"
}

.unsubscribe-icon:hover:before {
    content:"\e007"
}

.unsubscribe-button {
    float: right;
    margin-right: 10px;
    color: #FECEAB;
}

.unsubscribe-button:hover {
    color: #E84A5F;
}

.unsubscribe-button:focus {
    color: #E84A5F;
}

.attachment {
    font-size: 14px;
}


#main-middle-bar {
    color: #99B898;
    background-color: #2A363B;
    padding-top: 150px;
    font-family: 'Roboto Slab', serif;
}

#navbar-logo-text {
    color: #99B898;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    text-shadow: 0;
}

#register-modal {
    color: black;
}