body {
    color: #FECEAB;
    background-color: #2A363B;
    font-family: 'Nunito', sans-serif;
}

footer {
    text-align: center;
}

.btn-dark {
    background-image: linear-gradient(to bottom,#2A363B  0,#2A363B  100%);
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}

.btn-dark:hover {
    background-image: linear-gradient(to bottom,#2A363B  0,#2A363B  100%);
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}

.spacer {
    margin-top: 100px;
}

.alert-full-width {
    margin: 0px;
    width: 100%;
    border-radius: 0px;
}

.modal-header {
    background-color: #2A363B;
    color: #99B898;
    border-bottom: 1px solid #99B898;
}

.modal-body {
    background-color: #2A363B;
    color: #FECEAB;
}

.modal-footer {
    background-color: #2A363B;
    color: #99B898;
    border-top: 1px solid #99B898;
}

.modal-close {
    color: #E84A5F;
}

.modal-close:hover {
    color: #E84A5F;
}

.list-group-item {
    background-color: #23272b;
    border: 1px solid #FECEAB;
}

button.list-group-item {
    color: #FECEAB;
}

button.list-group-item:hover {
    background-color: #2A363B;
    color: #FECEAB;
    border: 1px solid #FECEAB;
}

button.list-group-item:focus {
    background-color: #2A363B;
    color: #FECEAB;
    border: 1px solid #FECEAB;
}

.create-button {
    padding: 0 12px 0 12px;
}

.delete-button {
    float: right;
    margin-right: 10px;
    color: #E84A5F;
}


#main-middle-bar {
    color: #99B898;
    background-color: #2A363B;
    padding-top: 150px;
    font-family: 'Roboto Slab', serif;
}

#navbar-logo-text {
    color: #99B898;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    text-shadow: 0;
}

#register-modal {
    color: black;
}