<h4> Projetos </h4>
<body>
    {% for project in projects %}
  
    <h5>Nome: {{ project.name }} </h5>
    
  
    {% endfor %}
</body>

<h4> Search </h4>

<form action="{{url_for('all_projects')}}" method="POST">
        <input type="hidden" name="form-name" value="search">
        
      {{ form.csrf_token }}
      <div>
          {{ form.name(class_='form-control', placeholder='Ogata', autocomplete='off', autofocus=true)}}
     
          <ul>
              {% for error in form.name.errors %}
              <li>{{ error }}</li>
              {% endfor %}
          </ul>
          
      </div>
    
      <div>
        {{ form.submit_button}}
      </div>
      
    
      
</form>