<!DOCTYPE html>

<html lang="eng">
    <head>
        <title>Solutionary</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Custom CSS modifications -->
        <link rel="stylesheet" href="/static/css/solutionary.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito|Roboto+Slab&display=swap" rel="stylesheet"> 
    </head>
    <body>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="navbar-logo-text" class="navbar-brand" href="/">Solutionary</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <form action="{{url_for('index')}}", method="POST" class="navbar-form navbar-right">
                            <div class="form-group">
                                {{ form.username(class_='form-control',
                                    placeholder='Username', autocomplete='off',
                                    autofocus=true)}}
                                <ul>
                                    {% for error in form.username.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            <!-- <input type="text" placeholder="Email" class="form-control">-->
                            </div>
                            <div class="form-group">
                                    {{ form.password(class_='form-control',
                                    placeholder='Password')}}
        
                                    <ul>
                                        {% for error in form.password.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
        
                             <!-- <input type="password" placeholder="Password" class="form-control">-->
                            </div>
                            <div class="form-group">
                                    {{ form.confirm_pswd(class_='form-control',
                                    placeholder='Retype Password')}}
        
                                    <ul>
                                        {% for error in form.confirm_pswd.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                             <!-- <input type="password" placeholder="Password" class="form-control">-->
                            </div>
                            <input type="submit" value="Create" class="btn btn-warning">
                            {{ form.csrf_token }}
                        </form>
                    </div><!--/.navbar-collapse -->
                </div>
            </nav>
    {% block body %}{% endblock %}
    </body>
</html>