{% block title %} Questions {% endblock %}
{% block content %}

<form action="/projects/{{project_name}}" method="POST">
    <input type="hidden" name="form-name" value="create">

  {{ form.csrf_token }}
  <div>
      {{ form.name(class_='form-control', placeholder='a', autocomplete='off', autofocus=true)}}
 
      <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
      </ul>
      
  </div>

  <div>
    {{ form.submit_button}}
  </div>
  

<h4> Questoes </h4>
<body>
    {% for qu in questions %}
  
    <h5>Nome: {{ qu.name }} </h5>
    
  
  {% endfor %}
</body>

  
</form>
{% endblock %}