{% extends "topbar.html" %}

{% block title %} Solutionary {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h2 class="text-center">{{project_name}} <a href="" alt="Download File" data-toggle="tooltip" title="Download File"><span class="attachment glyphicon glyphicon-file" aria-hidden="true"></span></a></h2>
        <br>
        <form action="{{url_for('projects')}}" method="POST">
            <div class="input-group col-lg-12">
                <input class="form-control" type="text" name="" placeholder="TESTE"z>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
            </div>
        </form>
    </div>
    <br>
    <div class="row">
        <!-- Default panel contents -->
        <div class="panel-heading"></div>
        <div class="panel-body">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        
        <div class="col-lg-12 text-center" style="padding-left: 0;">
            <button class="col-lg-12 text-center btn btn-success new-question" type="button">Post new question</button>
        </div>

        <div class="list-group col-lg-12">
            {% for question in questions %}
            <form action="/projects/{{project_name}}/{{question.id}}" method="GET">
                <button type="submit" class="question-list list-group-item">{{question.number}}) {{question.name}} <span class="badge">UNSOLVED</span></button>
            </form>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}