{% extends "topbar.html" %}

{% block title %} Solutionary {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h2 class="text-center"><a href="/projects/{{project_name}}" class="title-link">{{project_name}}</a> <a href="" alt="Download File" data-toggle="tooltip" title="Download File"><span class="attachment glyphicon glyphicon-file" aria-hidden="true"></span></a></h2>
        <br>
        <form action="{{url_for('projects')}}" method="POST">
            <div class="input-group col-lg-12">
                <input class="form-control" type="text" name="" placeholder="TESTE"z>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
            </div>
        </form>
    </div>
    <br>
    <div class="row">
        <!-- Default panel contents -->
        <div class="panel-heading"></div>
        <div class="panel-body">
            <p class="orange">a</p>
        </div>
        
        {% if is_subscribed or is_owner %}
        <div class="col-lg-12 text-center" style="padding-left: 0;">
            <a href="/projects/{{project_name}}/create-question" class="col-lg-12 text-center btn btn-success new-question">Post new question</a>
        </div>
        {% else %}
        <form id="subscribe-{{project_name}}" action="/projects/{{project_name}}/subscribe" method="POST"></form>
        <div class="col-lg-12 text-center" style="padding-left: 0;">
            <a href="#" class="col-lg-12 text-center btn btn-primary new-question" onclick="document.getElementById('subscribe-{{project_name}}').submit()">Subscribe to this project</a>
        </div>
        {% endif %}

        <div class="list-group col-lg-12">
            {% for question in questions %}
            <!-- Delete confirmation modal -->
            <div id="delete-modal-{{question.id}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
            
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close modal-close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Atenção</h4>
                    </div>
                    <div class="modal-body">
                    <h4 class="modal-danger">Você tem certeza que deseja deletar a questão {{ question.number }} e todas as suas soluções?</h4>
                    <form id="delete-question-{{question.id}}" action="{{url_for('delete_question', project_name=project_name, question_id=question.id)}}" method="POST">
                        <input type="hidden" name="question_id" value="{{question.id}}">
                        <button id="delete-question" class="btn btn-lg btn-danger btn-block" type="submit">Deletar questão</button>
                    </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
                </div>
            </div>
            <!-- End modal -->
            <form action="/projects/{{project_name}}/{{question.id}}" method="GET">
                <button type="submit" class="question-list list-group-item">{{question.number}}) {{question.name}} <span class="badge">UNSOLVED</span>{% if is_owner %}<a href='#' class="delete-button" data-toggle="modal" data-target="#delete-modal-{{question.id}}"><span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" title="Delete Project"></span></a>{% endif %}</button>
            </form>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}