{% extends "topbar.html" %}

{% block title %} Solutionary {% endblock %}

{% block styles %}
{{super()}}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    var quill = new Quill('#editor', {
        theme: 'snow',
        modules: {
            toolbar: false
        }
    });
    console.log('toso');
    var postId = $('#quillJS').data("post-id");
    console.log(postId);
    postId = postId.replace(/'/g, '"');
    console.log(postId);

    quill.setContents(postId);
    quill.enable(false);
</script>
{% endblock %}

{% block content %}
<input id="quillJS" type="hidden" data-post-id="{{ question.description }}">
<div class="container">
    <div class="row">
        <h2 class="text-center"><a href="" class="title-link">{{project_name}}</a> <a href="" alt="Download File" data-toggle="tooltip" title="Download File"><span class="attachment glyphicon glyphicon-file" aria-hidden="true"></span></a></h2>
        <br>
        <h3 class="text-center">{{question.number}}) {{question.name}}</h3>
    </div>
    <br>
    <div class="row">
        <div id="editor" class="quill-editor">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h3>Solutions <button class="btn btn-success create-button" style="margin-left: 30px;" type="button" data-toggle="modal" data-target="#create-project-modal">Post a Solution</button></h3>
        </div>
    </div>
    {% for solution in solutions %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">By: {{owner}} </div>
            <div class="panel-body">
                <p>{{solution.description}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}